<a href="https://colab.research.google.com/github/shreya-t-nagappanavar/Python_practice_from_scratch_to_Advance/blob/main/1_Introduction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!ls

sample_data

In [2]:
%timeit x = 100**100

535 ns ± 103 ns per loop (mean ± std. dev. of 7 runs, 1000000 loops each)

In [7]:
x = 10
print(x)

10

# 1.1 Variables:

In [8]:
salary = 10000

In [9]:
salary

10000

In [10]:
base_salary = 10000

**Calculation of total salary**

In [12]:
bonus_salary_rate = .20

In [13]:
Total_salary = (base_salary) * (1 + bonus_salary_rate)

In [14]:
print(Total_salary)

12000.0

**Strings**

In [16]:
Company_name = 'TATA'
Emp_name = 'Shreya T Nagappanavar'

In [18]:
Company_name

'TATA'

In [19]:
Emp_name

'Shreya T Nagappanavar'

In [22]:
Emp_dept = True
print(Emp_dept)

True

**Example demo for String display**

In [35]:
Emp_name = "Shreya"
Emp_Id = 25
Emp_dept = True
Emp_DOJ = "Feb 2023"

In [36]:
print("****** Employee Deatails*******")
print("-------------------------------")
print("Employee name = " , Emp_name)
print("Employee Id = " , Emp_Id)
print("Is Employee assigined to department = " , Emp_dept)
print("EMployee data of joining = " , Emp_DOJ)

****** Employee Deatails*******
-------------------------------
Employee name =  Shreya
Employee Id =  25
Is Employee assigined to department =  True
EMployee data of joining =  Feb 2023

**Basics**

In [37]:
2 + 2

4

In [39]:
2 ** 3

8

In [40]:
6 * 6

36

In [41]:
8 + 2
5 + 3 # prints last command always

8

In [42]:
print(8 + 2) # To print above command use "print"
5 + 3

10

8